@font-face {
  font-family: "Griun_PolSensibility-Rg";
  font-weight: 700;
  src: url("../fonts/Griun_PolSensibility-Rg.ttf") format("opentype");
}
@font-face {
  font-family: "Jalnan2";
  font-weight: 700;
  src: url("../fonts/Jalnan2.otf") format("otf");
}
@font-face {
  font-family: "Jalnan2";
  font-weight: 700;
  src: url("../fonts/Jalnan2.otf") format("otf");
}
@font-face {
  font-family: "YeongwolTTF";
  font-weight: 700;
  src: url("../fonts/YeongwolTTF.ttf") format("opentype");
}
